*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: url('coffee-beans-bk.webp');
    background-size: contain;
}

#all-coffees {
    background-color: rgb(251, 251, 251);
    /* text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin: 400px 200px 100px 200px */
    max-width: 600px;
    display: flex;
    flex-direction: column;

}